@import 'bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
    :hover{
        text-decoration: none;
        color: none;
    }
}

.hover{
    cursor: pointer;
}
